In [8]:
my_age = 21
temperature = 36.5

print("Age: ", my_age)
print(type(my_age))
print("Temperature: ", temperature)
print(type(temperature))

print("Temperature (integer): ", int(temperature))

Age:  21
<class 'int'>
Temperature:  36.5
<class 'float'>
Temperature (integer):  36

In [9]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name

print("My name is: ", full_name)
print(len(full_name))
print(full_name.upper())

My name is:  John Doe
8
JOHN DOE

In [11]:
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print(fruits)

print(fruits[0])
print(fruits[-1])
print(fruits[1:3]) # selcet only 1 & 2, not include 3

['apple', 'banana', 'orange', 'grape']
apple
grape
['banana', 'orange']

In [14]:
coordinates = (37.5, 127.0)
print(coordinates)

coordinates[0] = 40

(37.5, 127.0)

TypeError: 'tuple' object does not support item assignment

In [17]:
student_info = {"name": "John", "age": 21, "major": "Computer Science"}
print(student_info)
print(student_info['major'])
student_info[5] = 10
print(student_info.items())

{'name': 'John', 'age': 21, 'major': 'Computer Science'}
Computer Science
dict_items([('name', 'John'), ('age', 21), ('major', 'Computer Science'), (5, 10)])

In [19]:
name = input("Enter yout name: ")
age = int(input("Enter your age: "))

print(f"Hello, {name}! you are {age} years old.")

print("Nice to meet you,",name)
print(f"Nice to meet you, {name}")
print("Nice to meet you, {}".format(name))

Enter yout name: sangheon
Enter your age: 27
Hello, sangheon! you are 27 years old.
Nice to meet you,  sangheon
Nice to meet you, sangheon
Nice to meet you, sangheon

In [23]:
score = 100

if score >= 90:
  print("Excellent!")
elif score >= 70:
  print("Good")
else:
  print("keep Trying!")

Excellent!

In [25]:
count = 0
while count < 5:
  print("Hello!")
  count += 1

Hello!
Hello!
Hello!
Hello!
Hello!

In [26]:
for number in range(5):
  print("range(5): ", number)

for number in range(1, 6):
  print("range(1, 6): ", number)

for number in range(1, 10, 2):
  print("range(1, 10, 2): ", number)

for fruit in fruits:
  print(fruit)

range(5):  0
range(5):  1
range(5):  2
range(5):  3
range(5):  4
range(1, 6):  1
range(1, 6):  2
range(1, 6):  3
range(1, 6):  4
range(1, 6):  5
range(1, 10, 2):  1
range(1, 10, 2):  3
range(1, 10, 2):  5
range(1, 10, 2):  7
range(1, 10, 2):  9
apple
banana
orange
grape

In [39]:
for line in range(4):
  for space in range(line):
    print(" ", end=" ")
  for stars in range(4 - line):
    print("*", end=" ")
  print()

* * * *
  * * *
    * *
      *